# Application
APP_ADDRESS=:8080
APP_ENV=development
APP_VERSION=1.0.0
APP_ALLOW_REGISTER=true

# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# JWT Auth
JWT_ACCESS_SECRET=jwt_access_secret
JWT_ACCESS_EXPIRATION_IN_MINUTES=15

JWT_REFRESH_SECRET=jwt_refresh_secret
JWT_REFRESH_EXPIRATION_IN_DAYS=7

JWT_ISSUER=the_punisher_api
JWT_AUDIENCE=the_punisher_api

# Database URL
APP_DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?sslmode=disable

# Migrations
MIGRATIONS_DIR=./db/migrations